.about {
    margin-top: 5rem;

    @include mediaQuery(phone6) {
        margin-top: 2rem;
    }




    &-content {
        display: flex;
        padding: 2rem;

        &-header {
            padding-left: 0rem;
    
            @include mediaQuery(phone6) {
                padding-left: 0rem;
            }
        }

        @include mediaQuery(tablet9) {
            flex-direction: column;
            padding: .5rem;
            justify-content: center;
            align-items: center;
        }

        &-img {
            & > img {
                width: 20rem;

                @include mediaQuery(tablet9) {
                    width: 80vw;
                }
            }
        }

        &-text {
            padding-left: 1.5rem;

            @include mediaQuery(phone6) {
                padding-left: .5rem;
            }
        }
    }
}

.standard-header {
    font-family: 'Courgette';
    background: linear-gradient(to top left, #499EF9, #80C0FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    @include mediaQuery(phone6) {
        font-size: 1rem;
    }
}

.gold-header {
    font-family: 'Courgette';
    background: linear-gradient(to top, #FFFC00, #ffd34f, #FFFC00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.newproducts {
    width: 100%;
    height: auto;
    margin-top: 3rem;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaQuery(phone6) {
            font-size: .75rem;
        }
    }
}

.standard-btn {
    background-color: #499EF9;
    text-decoration: none;
    color: white;
    padding: .75rem;
    font-size: 1rem;
    transition: all .5s ease-in-out;
    &:hover {
        color: #499EF9;
        background-color: black;
        cursor: pointer;
    }

}

.card {
    margin: 1rem 2rem 1rem 2rem;
    width: 17.5vw;
    height: 50vh;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    border: 1px solid #499EF9;
    transition: all .5s ease-in-out;
    display: inline-block;

    @include mediaQuery(tablet1100) {
        width: 30%;
        height: auto;
    }
    @include mediaQuery(tablet9) {
        width: 50%;
        height: auto;
    }
    @include mediaQuery(phone5) {
        width: 70%;
        height: auto;
    }

    &:hover {
        transform: scale(1.1);
    }

    &__picture {
        &-img {
            width: 100%;
            height: auto;
        }

        &-price {
            position: absolute;
            top: -.1rem;
            right: -.1rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            border-radius: 0px 0px 0px 50px;
            justify-content: flex-end;
            align-items: center;
            border: 1px solid #499EF9;

            &>p {
                padding: .5rem;
            }
        }

        &-text {
            position: absolute;
            width: 100%;
            height: auto;
            background-color: white;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            font-family: 'Caveat';
            font-size: 1.5rem;
        }

        &-addToCart {
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: rgb(255, 255, 255);
            top: 1rem;
            left: -4rem;
            border-radius: 5px;
            border: 1px solid #499EF9;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: black;

            & > svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
        &-info {
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: rgb(255, 255, 255);
            top: 4rem;
            left: -4rem;
            border-radius: 5px;
            border: 1px solid #499EF9;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: black;

            & > svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
        &-observe {
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: #e958f7;
            top: 7rem;
            left: -4rem;
            border-radius: 5px;
            border: 1px solid #499EF9;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: white;

            & > svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.container-cards {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    @include mediaQuery(tablet1100) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.load-image {
    margin-top: 4rem;
    width: 100%;
    height: auto;

    @include mediaQuery(tablet1100) {
        overflow: hidden;
    }

    @include mediaQuery(phone6) {
        height: 50vh;
        width: auto;
    }

    & > img {
        width: 100%;
        @include mediaQuery(phone6) {
            height: 100%;
            width: auto;
        }
    }
}

.newsletter-bar {
    margin-top: 3rem;
    width: 100%;
    position: relative;
    z-index: 20;

    @include mediaQuery(tablet1100) {
        overflow: hidden;
    }



    & > img {
        height: 100%;
        width: 100%;

        @include mediaQuery(tablet1100) {
            height: 50vh;
            width: auto;
        }
        @include mediaQuery(tablet9) {
            height: 75vh
        }
    }

    &-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 1.5rem;
        color: white;
        display: flex;
        width: 100%;
        @media(max-width: 1500px) {
            font-size: 1rem;
        }

        @include mediaQuery(tablet1100) {
            flex-direction: column;
            align-items: center;
        }

        &>div {
            margin-left: 1rem;
            width: 50%;
            padding: 1rem;
            left: 2rem;
            background-color: #1D94D5;
            border-radius: 15px;

            @include mediaQuery(tablet1100) {
                margin: 1rem;
            }
            @include mediaQuery(phone6) {
                border-radius: 0px;
                width: 100%;
                font-size: 1rem;
            }

            & > h3 {
                @include mediaQuery(phone6) {
                    padding: .5rem;
                }
            }
            & > p {
                @include mediaQuery(phone6) {
                    padding: .5rem;
                }
            }
        }
        &>form {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;

            & > .mail {
                width: 70%;
                padding: 1rem;
                border: none;
                border-radius: 50px 0px 0px 50px;
                @include mediaQuery(phone6) {
                    border-radius: 0px;
                    width: 100%;
                }
            }

            & > .submit {
                border: none;
            }

        }
    }
}

.why-us {
    width: 100%;
    margin: 3rem 0rem 3rem 0rem;
    padding: 2rem 0rem 2rem 0rem;

    &-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media(max-width: 1200px) {
            flex-direction: column;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem 5rem 0rem 5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #80C0FF;
        fill: #80C0FF;

        @media(max-width: 1200px) {
            margin: 2rem 5rem 2rem 5rem;
        }

        @include mediaQuery(phone6) {
            font-size: 1rem;
            text-align: center;
        }

        & > svg {
            width: 10rem;
            height: 10rem;
            @include mediaQuery(phone6) {
                width: 5rem;
                height: 5rem;
            }
        }

        &>p {
            padding: 0%;
            margin: 1rem 0rem 0rem 0rem;

        }
    }
}

.offer {
    margin-top: 3rem;
}

.container-offer {
    text-align: center;
}

.aboutCompany {
    width: 100%;
    height: auto;

    &>div>div>p {
        @include mediaQuery(phone6) {
            font-size: .75rem;
        }
    }

    &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.padding1 {
    padding-left: 1rem;
}

.paddingright1 {
    padding-right: 1rem;
}

.flex {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;

    @include mediaQuery(tablet9) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &>img {
        width: 40%;

        @include mediaQuery(tablet9) {
            width: 80%;
        }
    }
    &>p{
        width: 60%;
        font-size: 1.25rem;

        @include mediaQuery(tablet9) {
            width: 100%;
        }
    }
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 1rem 1rem 1rem;

    @include mediaQuery(tablet9) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &>img {
        width: 40%;

        @include mediaQuery(tablet9) {
            width: 80%;
        }
    }
    &>p{
        width: 60%;
        font-size: 1.25rem;

        @include mediaQuery(tablet9) {
            width: 100%;
        }
    }
}

.contactForm {
    margin: 4rem 0rem 4rem 0rem;
    &-form {
        display: flex;
        margin: 4rem 0rem 4rem 0rem;

        @include mediaQuery(tablet1100) {
            flex-direction: column;
            align-items: center;
        }
        &>div {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mediaQuery(tablet1100) {
                width: 100%;
            }
            & > img {
                width: 70%;

                @include mediaQuery(phone6) {
                    width: 90%;
                }
            }
        }

        &>form {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mediaQuery(tablet1100) {
                width: 100%;
            }

            &>label {
                margin-top:1rem;
            }

            &>.email {
                width: 50%;
                padding: .5rem;
                border-radius: 15px;
                border: 1px solid #1D94D5;
                @include mediaQuery(phone6) {
                    width: 90%;
                }
            }

            &>textarea {
                width: 50%;
                height: 200%;
                padding: .5rem;
                border-radius: 15px;
                border: 1px solid #1D94D5;

                @include mediaQuery(tablet1100) {
                    height: 50vh;
                }
                @include mediaQuery(phone6) {
                    width: 90%;
                }
            }
        }
    }
}

.productDiv {
    width: 100%;
    height: 100vh;
    position: relative;

    &-container {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0rem;
        display: flex;
        @include mediaQuery(tablet8) {
            flex-direction: column;
            overflow: hidden;
            height: auto;
        }
        &-header {
            background: linear-gradient(to top left,#499EF9, #80C0FF);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Courgette';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mediaQuery(tablet8) {
                font-size: .75rem;
            }
            & > div {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                @include mediaQuery(phone6) {
                    width: 100%;
                }
            }
            & > .standard-btn {
                border: none;
                margin-bottom: .5rem;;
            }
        }
        &-img {
            height: 100%;
            width: auto;
            @include mediaQuery(tablet8) {
                height: 100vh;
                align-self: center;
            }
        }
    }
}

.thisProductDesc {
    width: 100%;
    position: relative;
    overflow: hidden;

    &>div {
        padding: .5rem 1rem;

        @include mediaQuery(phone6) {
            padding: .25rem .5rem;
        }
    }

    &-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaQuery(phone6) {
            margin-top: 1.5rem;
        }
    }

    &-gallery {
        // display: flex;
        // justify-content: space-between;
        text-align: center;

        &>div {
            padding: .5rem;
            display: inline-block;


        }

        &-item {
            width: 15rem;
            height: 15rem;
            padding: 1rem;
            overflow: hidden;
            background-color: #499EF9;
            transition: all .5s ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: yellow;
            }

            &>div {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            &>div>img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    }
}

.login {
    width: 100%;
    height: 100vh;
    background-image: url('../img/pictures/clipped/markus-spiske-MzHF7OTkRJM-unsplash.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {

        &-account {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            position: absolute;
            width: auto;
            height: 80%;
            background: linear-gradient(to top,#258eff, #64b2ff);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-radius: 25px;

            @include mediaQuery(tablet1100) {
                height: 75%;
            }
            @include mediaQuery(phone6) {
                height: 100%;
                width: 100%;
                padding: 0rem;
                border-radius: 0px;
            }

            &-img {
                background-color: white;
                width: min-content;
                padding: 1rem;
                border-radius: 50%;
                margin: 1.5rem;
                &>svg {
                    width: 5rem;
                    height: 5rem;
                }
            }
            &-form {
                display: flex;
                flex-direction: column;

                & > div {
                    font-size: .5rem;
                }

                & > input { 
                    margin: .5rem;
                    padding: .5rem;
                    width: 15rem;
                    background: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1.5px solid white;


                    &:focus {
                        border-bottom: 2px solid rgb(255, 0, 0);
                    }
                }

                & > button{ 
                    margin: 1rem;
                    width: 4rem;
                    border-radius: 0;
                    background-color: white;
                    border: none;
                    padding: .5rem;
                    font-family: 'Courgette';
                    text-align: center;
                    transition: all .5s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: black;
                        color: #258eff;
                    }
                }
            }
            &-register {
                align-self: flex-start;
                fill: black;
                display: flex;
                align-items: center;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                & > svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover {
                    cursor: pointer;
                }
            }
            &-text {
                margin: 0;
                padding: 0;
                color: rgb(255, 255, 255);
                & > h2 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &-noaccount {
            position: absolute;
            top: 55%;
            left: 55%;
            transform: translate(-50%, -50%);
            z-index: 99;
            width: auto;
            height: 80%;
            background: linear-gradient(to top,#A30CF0, #F0970C);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-radius: 25px;
            @include mediaQuery(tablet1100) {
                height: 75%;
            }
            @include mediaQuery(phone6) {
                height: 100%;
                width: 100%;
                top: 50%;
                left: 50%;
                padding: 0rem;
                border-radius: 0px;
            }
            &-img {
                background-color: white;
                width: min-content;
                padding: 1rem;
                border-radius: 50%;
                margin: 1.5rem;
                &>svg {
                    width: 5rem;
                    height: 5rem;
                }
            }
            &-form {
                display: flex;
                flex-direction: column;

                & > div {
                    font-size: .5rem;

                    &>svg {
                        width: .75rem;
                        height: .75rem;
                    }
                }

                & > input { 
                    margin: .5rem;
                    padding: .5rem;
                    width: 15rem;
                    background: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1.5px solid white;
                    &:focus {
                        border-bottom: 2px solid rgb(255, 0, 0);
                    }
                }

                & > button{ 
                    margin: 1rem;
                    width: 6rem;
                    border-radius: 0;
                    background-color: white;
                    border: none;
                    padding: .5rem;
                    font-family: 'Courgette';
                    text-align: center;
                    transition: all .5s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: black;
                        color: #A30CF0;
                    }
                }
            }
            &-login {
                align-self: flex-start;
                fill: black;
                display: flex;
                align-items: center;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                & > svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover {
                    cursor: pointer;
                }
            }
            &-text {
                margin: 0;
                padding: 0;
                color: rgb(255, 255, 255);
                & > h2 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.goRight {
    animation: goRight 1s ease-in normal forwards;
}
.goLeft {
    animation: goLeft 1s ease-in normal forwards;
}
.slideLeft {
    animation: slideLeft 1s ease-in normal forwards;
}
.slideRight {
    animation: slideRight 1s ease-in normal forwards;
}

@keyframes slideLeft {
    0% {
        left: 50%;
    } 100% {
        left: -100%;
    }
}
@keyframes slideRight {
    0% {
        left: -100%;
    } 100% {
        left: 50%;
    }
}

@keyframes goRight{
    0% {
        top: 55%;
        left: 55%;
        z-index: 99;
    }
    50% {
        top: 50%;
        left: 77%;
    }
    100% {
        top: 50%;
        left: 50%;
        z-index: 100;
    }
}
@keyframes goLeft{
    0% {
        top: 50%;
        left: 50%;
        z-index: 100;
    }
    50% {
        top: 50%;
        left: 25%;
    }
    100%{
        top: 55%;
        left: 55%;
        z-index: 99;
    }
}

.account {
    display: flex;
    @include mediaQuery(tablet1100) {
        flex-direction: column;
    }
    &-menu {
        width: 25%;
        height: 100vh;
        background: linear-gradient(to top right,#007bff, #88c3ff);
        @include mediaQuery(tablet1100) {
            width: 100%;
            height: min-content;
        }
        .flexColumn {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mediaQuery(tablet1100) {
                font-size: .75rem;
            }
        }
        &-user {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1.5px solid black;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            @include mediaQuery(tablet1100) {
                flex-direction: row;
                margin-bottom: 0;
                padding-bottom: 0;
                justify-content: space-between;
            }
            &-img {
                width: 5rem;
                height: 5rem;
                overflow: hidden;
                border-radius: 50%;
                margin: 1rem;
                @include mediaQuery(tablet1100) {
                    width: 3rem;
                    height: 3rem;
                }

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin-bottom: .5rem;
            }
            &-mobile {
                display: none;
                margin-right: 1rem;
                height: 2.5rem;
                @include mediaQuery(tablet1100) {
                    display: flex;
                }
                flex-direction: column;
                justify-content: space-evenly;
                &-1{
                    width: 3rem;
                    height: .15rem;
                    background-color: black;
                }
                &-2{
                    width: 3rem;
                    height: .16rem;
                    background-color: black;
                }
                &-3{
                    width: 3rem;
                    height: .15rem;
                    background-color: black;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-buttons {
            @include mediaQuery(tablet1100) {
                display: none;
                height: 90%;
            }
            &-list {
                list-style-type: none;
                padding: 0rem;

                & > li {
                    position: relative;
                    z-index: 99;

                    &:before {
                        content: '';
                        width: 0%;
                        height: 100%;
                        background-color: #007bff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all .5s ease-in-out;
                    }

                    &:hover {
                        cursor: pointer;
                        color: rgb(0, 0, 0);
                        fill: rgb(0, 0, 0);

                        &:before {
                            width: 100%;
                        }
                    }

                    & > a {
                        margin: 0;
                        padding: 1rem 1rem;
                        display: flex;
                        align-items: center;
                        color: white;
                        fill: white;
                        transition: all .5s ease-in-out;
                        position: relative;
                        z-index: 99;
                        
                        &:before {
                            content: '';
                            width: 0%;
                            height: 100%;
                            background-color: #007bff;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: all .5s ease-in-out;
                        }

                        &:hover {
                            cursor: pointer;
                            color: rgb(0, 0, 0);
                            fill: rgb(0, 0, 0);
                        
                            &:before {
                                width: 100%;
                            }
                        }
                        & > svg {
                            width: 2rem;
                            height: 2rem;
                            z-index: 100;
                        }
                        & > p {
                            z-index: 100;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    & > svg {
                        width: 2rem;
                        height: 2rem;
                        z-index: 100;
                    }
                    & > p {
                        z-index: 100;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    &-body {
        @include mediaQuery(tablet1100) {
            width: 100%;
            overflow-y: visible;
        }
        width: 75%;
        height: 100vh;
        background-color: #ffffff;
        overflow-y: scroll;
        &-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-header {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            &-img {
                & > img {
                    width: 100%;
                    height: 100%;
                }
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                overflow: hidden;

                @include mediaQuery(phone6) {
                    width: 15rem;
                    height: 15rem;
                }
            }
            &-form {
                width: 100%;
                & > form {
                    display: flex;
                    flex-direction: column;
                    & > input {
                        margin: .5rem 0rem;
                        padding: .5rem;
                        border-top: 1.5px solid black;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1.5px solid black;
                    }
                    & > label {
                        margin: .5rem 0rem;
                    }
                    & > textarea {
                        max-width: 100%;
                        height: 5rem;
                        padding: .5rem;
                        border-top: 1.5px solid black;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1.5px solid black;
                    }
                    & > button {
                        border: 0;
                        margin-top: .5rem;
                    }
                }
            }
        }

        &-liked {
            text-align: center;
        }

        &-orders {
            height: 100vh;
            width: 100%;
            overflow-y: scroll;
            display: inline-block;
            text-align: center;
            padding-left: 2rem;
            &-order {
                text-align: left;
                margin-top: 2.5rem;
                width: 90%;
                height: min-content;
                background-color: blanchedalmond;
                border: 1px solid black;
                border-radius: 15px;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.479);
                padding-left: 1.5rem;
                overflow: hidden;
                padding-bottom: 1rem;
            }
        }

        &-password {
            &-header {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            &-form {
                display: flex;
                flex-direction: column;

                &>input {
                    margin: .5rem 0rem;
                    padding: .5rem;
                }
                & > label {
                    margin: .5rem;
                }
                & > button {
                    border: none;
                }
                & > div {
                    display: flex;
                    align-items: center;
                    &>svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}

.mobile45 {
    animation: mobile45 .25s linear normal forwards;
}
.mobile-45 {
    animation: mobile-45 .25s linear normal forwards;
}
.mobilehide {
    animation: mobilehide .25s linear normal forwards;
}

@keyframes mobile45 {
    0% {
        transform: rotate(0deg);
        position: initial;
    }
    100% {
        transform: rotate(45deg);
        position: absolute;
    }
}
@keyframes mobile-45 {
    0% {
        transform: rotate(0deg);
        position: initial;
    }
    100% {
        transform: rotate(-45deg);
        position: absolute;
    }
}
@keyframes mobilehide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}







.dnone {
    display: none;
}


/*
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 100;

position: absolute;
top: 55%;
left: 55%;
transform: translate(-50%, -50%);
z-index: 99;
*/

/* font-family: 'Caveat', cursive;

font-family: 'Courgette', cursive;

font-family: 'Lato', sans-serif;

font-family: 'MonteCarlo', cursive;

font-family: 'WindSong', cursive; */